*.sln
*.opensdf
*.sdf
*.VC.db
*.VC.VC.opendb
*.VC.opendb
.vscode/
.idea/
Binaries/
DerivedDataCache/
Intermediate/
Saved/
.vs/
*.log
Build/BatchFiles/
Build/Makefiles/
Build/Linux/
Build/CMakeFiles/
Build/CMakeLists.txt
*.xcodeproj
*.xcworkspace
*.AppleTV.userprefs
*.iOSuserprefs
*.swp
*.tmp
Backup/
*.autosave
*.old
*.config
CrashReportClient/
*.pdb
*.obj
*.idb
*.pch
*.pyc
*.mod
*.dylib
*.so
*.lib
*.dll
*.exe
*.app
*.ipa
*.pak
*.user
*.userprefs